<!-- {{#left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}} -->
{{extend 'quilt_layout.html'}}
<div id="Quilt-body">
</div>

<script>
$(document).ready(function() {
    $.fn.exists = function () {
        return this.length !== 0;
    }

    function place_row(row_data) {
        var $quilt_row = $(row_data);
        var row_id = $quilt_row.attr('id');
        if ($('#' + row_id).exists()) {
            return false;
        } else {
            var row_num = $quilt_row.data('quilt-row');
            if (row_num > 0) {
                var $before = $('#row-' + (row_num - 1));
                if ($before.exists()) {
                    $('#row-' + (row_num - 1)).after(row_data);
                } else {
                    var $after = $('#row-' + (row_num + 1));
                    if ($after.exists()) {
                        $after.before(row_data);
                    } else {
                        $('#Quilt-body').append(row_data);
                    }
                }
            } else {
                $('#Quilt-body').prepend(row_data);
            }
        }
        return true;
    }

    function place_col($row, col_data) {
        var $quilt_col = $(col_data);
        var col_id = $quilt_col.attr('id');
        var row_num = $row.data('quilt-row');
        if ($row.children('#' + col_id).exists()) {
            return false;
        } else {
            var col_num = $quilt_col.data('quilt-column');
            if (col_num > 0) {
                var $before = $row.children('#column-' + (col_num - 1));
                if ($before.exists()) {
                    $before.after(col_data);
                } else {
                    var $after = $row.children('#column-' + (col_num + 1));
                    if ($after.exists()) {
                        $after.before(col_data);
                    } else {
                        $row.append(col_data);
                    }
                }
            } else {
                $row.prepend(col_data);
            }
        }
        return $('#row-' + row_num).children('#column-' + col_num);
    }


    var row = 0;
    var num_rows = Math.ceil($(window).height() / 400);
    for (; row < num_rows; row++) {
        (function(index) {
            var row_url = '{{=URL("components", "row")}}/' + index + '?width=' + $(window).width();
            $.get(row_url, function(row_data) {
                place_row(row_data);
                var $row = $(row_data);
                var num_panels = $row.data('panels');
                for (var col = 0; col < num_panels; col++) {
                    var col_url = '{{=URL("components", "col")}}/' + col;
                    $.get(col_url, function(data) {
                        var $row = $('#row-' + index);
                        var $col = $(data);
                        place_col($row, data);
                        var col_num = $col.data('quilt-column');
                        var panel_url = '{{=URL("components", "Panel")}}?col=' + col_num + '&row=' + index;
                        $.get(panel_url, function(data) {
                            $('#row-' + index).children('#column-' + col_num).append(data);
                        });
                    });
                }
            });
        })(row);
    }

    $('#Quilt-body').on('appear', '.quilt-column', function (event, $col) {
        if ($.trim($col.html()) == '') {
            var col_num = $col.data('quilt-column');
            var row_num = $col.parent('.quilt-row').data('quilt-row');
            var panel_url = '{{=URL("components", "Panel")}}?col=' + col_num + '&row=' + row_num;
            $.get(panel_url, function(data) {
                $('#row-' + row_num).children('#column-' + col_num).append(data);
            });
        }
    });

    $(window).scroll(function() {
        var $window = $(window);
        var $body = $(document);
        if ($body.height() - ($window.height() + $window.scrollTop()) <= 100) {
            var row_num = $(".quilt-row").length
            var row_url = '{{=URL("components", "row")}}/' + row_num + '?width=' + $body.width();
            $.get(row_url, function(row_data) {
                if (place_row(row_data)) {
                    var $row = $(row_data);
                    var num_panels = $row.data('panels');
                    for (var col = 0; col < num_panels; col++) {
                        var col_url = '{{=URL("components", "col")}}/' + col;
                        $.get(col_url, function(data) {
                            var $row = $('#row-' + row_num);
                            var $col = $(data);
                            place_col($row, data).appear();
                        });
                    }
                }
            });
        }

        if ($body.width() - ($window.width() + $window.scrollLeft()) <= 100) {
            var col_num = $("#row-0 > .quilt-column").length;
            $(".quilt-row").each(function(i) {
                var col_url = '{{=URL("components", "col")}}/' + col_num;
                $.get(col_url, function(data) {
                    var $row = $('#row-' + i);
                    var $col = $(data);
                    place_col($row, data).appear();
                });
            });
        }
    });
});
</script>
<style>
    .quilt-column {
        display:inline-block;
        font-size:0;
        vertical-align: top;
    }
    .quilt-row {
        white-space:nowrap;
        font-size:0;
    }
    body {
        overflow:auto;
        background-color:#EEE;
    }
</style>
