{{extend 'quilt_layout.html'}}

<img src="{{=URL('default', 'download', args=[image.im])}}" style="display:block"/>


<button id='flagbutton'>
Flag Image
</button>

<button id='unflagbutton'>
Unflag Image
</button>

<button id='deleteimage'>
Delete Image
</button>

<script>
    $(document).ready(function() {
        $('#unflagbutton').hide();
        $('#deleteimage').show();
        $('#deleteimage').click(function(){
            var url = '{{=URL("default", "confirmdelete", args=image.id)}}';
            window.location.href=url;
        });
        $('#flagbutton').show();
        $('#flagbutton').click(function() {
            var url = '{{=URL("default", "flag", args=image.id)}}';
            $.post(url, function() {
                $('#flagbutton').toggle();
                $('#unflagbutton').toggle();
            });
            $('#unflagbutton').click(function() {
                var url2 = '{{=URL("default", "unflag", args=image.id)}}';
                $.post(url2, function() {
                    $('#flagbutton').toggle();
                    $('#unflagbutton').toggle();
            });
        });
      });
    });
</script>

<div id="disqus_thread" style="width:800px"</div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        //this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = image.id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//quiltteam.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
<!--
{{if len(comments):}}
{{for comment in comments:}}
<p>
{{=comment.body}}
</p>
{{pass}}
{{else:}}
<p>
No Comments
</p>
{{pass}}

<h1>
    Post A Comment
</h1>
{{=form}}
-->
