<table id="t01">
  <tr>
    <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td>
  </tr>
  <tr>
    <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td>
  </tr>
  <tr>
    <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td>
  </tr>
  <tr>
    <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td> <td><img height = "200" width = "200"></td>
  </tr>
</table>
