<div id="column-{{=quilt_column}}" class="quilt-column" data-quilt-column="{{=quilt_column}}" >
    <table cellspacing="0" cellpadding="0">
        {{for i in xrange(0, panel_rows):}}
            <tr>
                {{for j in xrange(0, panel_columns):}}
                    <td height="{{=height}}" width="{{=width}}">
                       {{=A(IMG(_src=images[i+4*j].url, 
                        _alt=images[i+4*j].title, 
                        _height=height, 
                        _width=width), 
                        _href=images[i+4*j].url)}}
                    </td>
                {{pass}}
            </tr>
        {{pass}}
    </table>
</div>
