<div class='i-panel'>
    {{for i in xrange(0, panel_rows):}}
        <div class='i-row'>
            {{for j in xrange(0, panel_columns):}}
                <span class='i-col'>
                   {{idx=i*4+j}}
                   {{=A(IMG(_src=URL('default','download', args=images[idx].im),
                    _alt=images[idx].title,
                    _height=height,
                    _width=width),
                    _href=URL('default', 'show_image_ajax', args=[images[idx].id]))}}
                </span>
            {{pass}}
        </div>
    {{pass}}
</div>

<style>
    .i-panel {
        width:calc(4* {{=width}}px);
        height:calc(4 * {{=height}}px);
    }
    .i-row {
        width:calc(4* {{=width}}px);
        height:{{=height}}
    }
    .i-col {
        padding:0;
        width:{{=width}};
        height:{{=height}};
        font-size:0;
    }
</style>
