#header {
    position: relative;
    background-image: url('http://127.0.0.1:8000/Quilt/static/images/quilt.jpg');
    height: 400px;
    text-align: center;
}

#text {
    width: 100%;
    margin: auto;
    position: absolute;
    margin-top: 150px;
    font-size: 500%;
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    text-align: center;
}

#form {
    color: white;
    position: relative;
    left: 42%;
    top: 25px;
}

.btn {
    position: absolute;
    left: 24px;
}
